{% extends "base.html" %}
{% load static %}

{% block title %}Title{% endblock %}
{% block content %}
<ul>
{% if user.is_authenticated %}
<li><a href="/logout/">Logout {{ user.username }}</a></li>
{% else %}
<li><a href="/login/">Log In</a></li>
{% endif %}
</ul>
<form action="/" method="post">
    {% csrf_token %}

    {{ form }}
    <input type="submit" value="Submit" />
</form>
<div id="app">
  <ul>
    <li v-for="suggestion in suggestions">
      {% verbatim %}
      {{ suggestion.suggest }}
      {% endverbatim %}
    </li>
  </ul>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static "js/vendor/vue.js" %}"></script>
<script src="{% static "js/vueapp.js" %}"></script>

{% endblock %}
